<div class="3comluns container">

<h2><%=title%></h2>


<% if (typeof(intro) != "undefined") { %>
<div class="row">
	<%=intro%>
</div>
<% } %>

<div class="row">
	<div class="col-lg-4 col-md-4">
		<h3><%=column1.title%></h3>
		<p><%=column1.content%></p>
	</div>
	<div class="col-lg-4 col-md-4">
		<h3><%=column2.title%></h3>
		<p><%=column2.content%></p>
	</div>
	<div class="col-lg-4 col-md-4">
		<h3><%=column3.title%></h3>
		<p><%=column3.content%></p>
	</div>
</div>

</div>
